body {
    background-image: url(../assets/img/icon/background-pkb.png);
    background-size: 120px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

main {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signin-card {
    width: 50%;
    height: 70%;
    background-position: center;
    background-image: url(../assets/img/border/bg-card.png  );
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 140px;
    image-rendering: pixelated;
}

.signin-card .inp {
    height: 42px;
    text-indent: 10px;
    width: 45%;
    border: none;
}

.signin-card .btn {
    position: relative;
    top: 15px;
}

.inp-date {
    background-color: white;
    color: #767676;
}

.signin-card h1 {
    color: white;
    position: relative;
    bottom: 40px;
}

.card-erro {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 43%;
    height: 25px;
    bottom: 50px;
    padding: 10px;
    background-color: white;
    transition: 600ms;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loading-pkb {
    width: 1.5vw;
    height: 1.5vw;
}

.down-arrow {
    width: 1vw;
}

#mensagem_erro {
    font-size: 0.9vw;
}

main {
    margin: auto;
}

.choose-pokemon {
    background-color: var(--vermelho);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.choose-pokemon .titulo {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.titulo span {
    position: relative;
    top: 2px;
    font-size: 20px;
}

.radioGroup {
    display: flex;
    list-style: none;
    gap: 40px;
}

.radioGroup li {
    width: 100px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radioGroup label:hover {
    filter: brightness(0.95);
}

.radioGroup li .down-arrow {
    width: 20px;
    position: relative;
    transform: rotate(180deg);
    bottom: 5px;
}

.radioGroup input {
    display: none;
}

.radioGroup label {
    background-color: white;
    width: 120px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 100ms;
}

.radioGroup label img {
    position: relative;
    bottom: 10px;
}

.radioGroup span {
    font-size: 13px;
    position: relative;
    top: 0;
}

.radioGroup img {
    width: 90px;
}

.radioGroup input:checked + label {
    transform: scale(1.1);
}