body {
    background-image: url(../assets/img/icon/background-pkb.png);
    background-size: 120px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

main,
footer,
#container_pkmn {
    display: flex;
    opacity: 1;
}

main {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signin-card {
    width: 50%;
    height: 70%;
    background-position: center;
    background-image: url(../assets/img/border/bg-card.png  );
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 140px;
    image-rendering: pixelated;
}

.signin-card .inp {
    height: 42px;
    text-indent: 10px;
    width: 45%;
    border: none;
}

.signin-card .btn {
    position: relative;
    top: 15px;
}

.inp-date {
    background-color: white;
    color: #767676;
}

.signin-card h1 {
    color: white;
    position: relative;
    bottom: 40px;
}

.card-erro {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 43%;
    height: 25px;
    bottom: 50px;
    padding: 10px;
    background-color: white;
    transition: 600ms;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loading-pkb {
    width: 1.5vw;
    height: 1.5vw;
}

.down-arrow {
    width: 1vw;
}

#mensagem_erro {
    font-size: 0.9vw;
}