body {
    background-image: url(../assets/img/icon/background-pkb.png);
    background-size: 120px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

#pokemon_wrap {
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 260px;
    justify-content: space-around;
    background-image: url(../assets/img/border/pmn-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
}

.pokemon-card:hover {
    transform: scale(1.01);
}

.pokemon-card .pkmn-img {
    width: 150px;
    image-rendering: pixelated;
}

#leaders_lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-progresso {
    height: 30px;
    width: 300px;
    margin-top: 300px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 30px;
}

.progresso {
    border-radius: 30px;
    background-color: var(--vermelho);
    height: 30px;
}

.titulo-id {
    text-align: left;
    width: 85%;
    font-weight: bold;
}

.titulo-nome {
    font-size: 18px;
    width: 80%;
    overflow: hidden;
}

.tipo-pokemon {
    display: flex;
    gap: 10px;
}

.tipo-pokemon p {
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 12px;
}

#main_container {
    margin-bottom: 50px;
}

.img-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .img-wrap span {
    background-color: white;
  }
  
  .card-info-img {
    width: 170px;
  }
  
  #pokemon_info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #pokemon_info .info-card {
    padding: 40px;
  }
  
  .info-wrap ul {
    list-style: none;
  }
  
  .info-date {
    color: #818181;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .type-wrap {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .info-close-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .info-item {
    width: 30px;
    position: relative;
    left: 84%;
    bottom: 20px;
    cursor: pointer;
  }

.descricao-wrap {
  width: 800px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
}

.pkdx-img {
  width: 400px;
  margin: 20px auto;
  gap: 20px;
}

.pkdx-card {
  position: absolute;
  top: 120px;
  background-color: var(--vermelho);
  color: white;
  margin-bottom: 80px;
}

.user-card {
  background-color: white;
  color: black;
}

.pkdx-icon-item {
  width: 30px;
  cursor: pointer;
}

.pkdx-info {
  justify-content: flex-end;
}

.campo-descricao {
  color: black;
}

.base-info-wrap {
  display: flex;
  color: black;
  gap: 50px;
  padding: 15px;
  align-items: flex-end;
}

.status-ul {
  list-style: none;
}

.status-ul li {
  font-size: 15px;
}