@font-face {
    font-family: minecraftia;
    src: url(../assets/font/Minecraftia-Regular.ttf);
}

:root {
    --vermelho: #c20101;
    --font-title-size: 25px;
    --font-body-size: 15px;
}

* {
    font-family: 'minecraftia', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: var(--vermelho);
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    z-index: 10;
}

.container {
    width: 80%;
    margin: auto;
}

header .container {
    height: 80px;
    width: 86%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-search input {
    border: none;
    border-radius: 15px;
    height: 30px;
    text-indent: 10px;
    font-family: minecraftia;
}

.btn-search {
    width: 30px;
    height: 30px;
    font-size: 13px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.logo {
    color: white;
    align-items: flex-end;
    display: flex;
    gap: 10px;
}

.logo img {
    width: 230px;
    image-rendering: pixelated;
}

.logo span {
    font-size: 30px;
    font-weight: 500;
    height: 40px;
}

.btn {
    border: none;
    border-radius: 0px;
    padding: 10px;
    font-family: minecraftia;
    height: 40px;
    transition: 100ms;
    cursor: pointer;
    width: 150px;
}

.btn span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container-cadastro-btn {
    display: flex;
    gap: 10px;
}

.btn:hover {
    color: white;
    background-color: black;
    animation: tiltBtn 300ms;
}

@keyframes tiltBtn {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(5deg);
    }

    66% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* FIM HEADER */

/* CORPO */

main {
    gap: 8rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

main,
footer,
#container_pkmn {
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

main span {
    font-size: var(--font-body-size);
}

.section-pkb {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container-pkb {
    height: 500vw;
    width: 500vh;
    background-color: rgb(194, 1, 1);
    transform: rotate(180deg);
    transition: 900ms;
    overflow: hidden;
}

/* .container-pkb:hover {
} */
/* .container-pkb {
    height: 500vw;
    width: 500vh;
    background-color: rgb(194, 1, 1);
    transform: rotate(180deg);
    transition: 600ms;
    overflow: hidden;
}

.container-pkb:hover {
    transform: rotate(90deg);
} */

.black-strip {
    width: 100%;
    background-color: black;
    height: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-strip .pkb-btn {
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0);
    border: none;
    cursor: pointer;
}

.black-strip .pkb-btn .pkb-circle {
    width: 10vw;
    height: 10vw;
    background-image: url('../assets/img/border/center.png');
    background-size: contain;
}

.pkb-white {
    height: 50%;
    background-color: rgb(255, 255, 255);
}

.titulo h1 {
    color: rgb(134, 4, 4);
    font-size: var(--font-title-size);
    width: 100%;
}

main .introducao span {
    width: 600px;
}

main .introducao {
    display: flex;
    align-items: center;
    gap: 30px;
}

.introducao img {
    width: 200px;
    height: 200px;
}

.pkmn-gallery ul {
    margin-top: 30px;
    list-style: none;
    display: flex;
    gap: 35px;
}

.pkmn-gallery ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 300ms;
}

.pkmn-gallery ul li:hover {
    transform: scale(1.07);
}

.pkmn-gallery ul li img {
    width: 200px;
    /* box-shadow:
        -5px 0 0 0 black,
        5px 0 0 0 black,
        0 -5px 0 0 black,
        0 5px 0 0 black; */
}

.pkmn-gallery ul li span {
    font-weight: 500;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text-section h1 {
    text-align: right;
}

.text-section {
    display: flex;
    justify-content: flex-end;
}

.text-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-section .text {
    display: flex;
    text-align: right;
    align-items: center;
    width: 600px;
}

.text img {
    width: 200px;
    height: 200px;
}

/* FIM CORPO */

/* FOOTER */

.following-pkmn {
    margin-top: -5px;
    image-rendering: pixelated;
    width: 100px;
    height: 75px;
    transform: scale(1, -1);
}

#container_pkmn {
    height: 100px;
}

footer {
    background-color: var(--vermelho);
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

/* FIM FOOTER */

/* PIXELATED BORDER */
.px-corner {
    clip-path: polygon(0px calc(100% - 10px),
            5px calc(100% - 10px),
            5px calc(100% - 5px),
            10px calc(100% - 5px),
            10px 100%,
            calc(100% - 10px) 100%,
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 10px),
            100% calc(100% - 10px),
            100% 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 0px,
            10px 0px,
            10px 5px,
            5px 5px,
            5px 10px,
            0px 10px);
}

.px-border,
.px-border--wrapper {
    clip-path: polygon(0px calc(100% - 10px),
            5px calc(100% - 10px),
            5px calc(100% - 5px),
            10px calc(100% - 5px),
            10px 100%,
            calc(100% - 10px) 100%,
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 10px),
            100% calc(100% - 10px),
            100% 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 0px,
            10px 0px,
            10px 5px,
            5px 5px,
            5px 10px,
            0px 10px);
    position: relative;
}

.px-border {
    border: 5px solid transparent;
}

.px-border--wrapper {
    width: fit-content;
    height: fit-content;
}

.px-border--wrapper .px-border {
    display: block;
    clip-path: polygon(5px 10px,
            10px 10px,
            10px 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) calc(100% - 10px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 10px) calc(100% - 5px),
            10px calc(100% - 5px),
            10px calc(100% - 10px),
            5px calc(100% - 10px));
}

.px-border::after,
.px-border--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 10px),
            5px calc(100% - 10px),
            5px calc(100% - 5px),
            10px calc(100% - 5px),
            10px 100%,
            calc(100% - 10px) 100%,
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 10px),
            100% calc(100% - 10px),
            100% 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 0px,
            10px 0px,
            10px 5px,
            5px 5px,
            5px 10px,
            0px 10px,
            0px 50%,
            5px 50%,
            5px 10px,
            10px 10px,
            10px 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) calc(100% - 10px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 10px) calc(100% - 5px),
            10px calc(100% - 5px),
            10px calc(100% - 10px),
            5px calc(100% - 10px),
            5px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #241f31;
    display: block;
    pointer-events: none;
}

.px-border::after {
    margin: -5px;
}