@font-face {
    font-family: minecraftia;
    src: url(../assets/font/Minecraftia-Regular.ttf);
}

body {
    background-image: url(../assets/img/icon/background-pkb.png);
    background-size: 120px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

:root {
    --vermelho: #c20101;
    --font-title-size: 25px;
    --font-body-size: 15px;
}

* {
    font-family: 'minecraftia', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: var(--vermelho);
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    z-index: 10;
}

.container {
    width: 80%;
    margin: auto;
}

header .container {
    height: 80px;
    width: 86%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    align-items: flex-end;
    display: flex;
    gap: 10px;
}

.logo img {
    width: 230px;
    image-rendering: pixelated;
}

.logo span {
    font-size: 30px;
    font-weight: 500;
    height: 40px;
}

.btn {
    border: none;
    border-radius: 0px;
    padding: 10px;
    font-family: minecraftia;
    height: 40px;
    transition: 100ms;
    cursor: pointer;
    width: 150px;
    background-color: white;
}

.btn span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container-cadastro-btn {
    display: flex;
    gap: 10px;
}

.btn:hover {
    color: white;
    background-color: black;
    animation: tiltBtn 300ms;
}

@keyframes tiltBtn {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(5deg);
    }

    66% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.profile-wrap-upbar {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    cursor: pointer;
    transition: 100ms;
    padding: 10px 15px;
    color: white;
}

.profile-wrap-upbar:hover {
    background-color: #00000013;
}

.profile-wrap-upbar .user-name {
    color: white;
    font-size: 20px;
}

.profile-wrap-upbar .down-arrow-white {
    width: 15px;
    position: relative;
    bottom: 14px;
}

/* FIM HEADER */

/* BARRA LATERAL */

.sideMenu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.sideMenu .menu-item {
    margin-left: 30px;
    font-size: 20px;
    list-style: none;
}

.menu-item li a {
    display: flex;
    align-items: center;
}

.menu-item li:hover .down-arrow {
    left: 4px;
    transform: rotate(270deg) scale(1.15);
}

.menu-item li a .down-arrow {
    width: 12px;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 2px;
    transition: 50ms;
    transform: rotate(270deg);
}

.sideMenu a {
    text-decoration: none;
    transition: 300ms;
    color: #bbbbbb;
}

.sideMenu a:hover {
    color: #f1f1f1;
}

.account-ul {
    position: absolute;
    bottom: 155px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    flex-direction: column;
    color: white;
    list-style: none;
    gap: 16px;
}

#account_ul li:last-child img {
   width: 30px;
   cursor: pointer;
   transition: 200ms;
}

#account_ul li:last-child img:hover {
    filter: brightness(0.7);
}

#account_ul li:last-child {
   margin: auto;
   display: flex;
   gap: 20px;
}

.foto-wrap {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-wrap img {
    position: relative;
    height: 45px;
}

.account-item {
    padding: 10px;
    padding-left: 20px;
    width: 250px;
}

.account-item-logged {
    cursor: pointer;
}

.account-item-logged:hover {
    background-color: #241f31;
}

.account-item {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.acc-link-item {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    background-color: #242424;
    padding: 20px;
    margin: 0;
    font-size: 15px;
    word-spacing: 2px;
    position: relative;
    top: 15px;
}

.settings-img {
    cursor: pointer;
}

/* FIM BARRA LATERAL */

/* CORPO */

main {
    gap: 8rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-left: 300px;
}

footer {
    margin-left: 250px;
}

.display-none-on-start {
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

main span {
    font-size: var(--font-body-size);
}

.section-pkb {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container-pkb {
    height: 500vw;
    width: 500vh;
    background-color: rgb(194, 1, 1);
    transform: rotate(180deg);
    transition: 900ms;
    overflow: hidden;
}

.black-strip {
    width: 100%;
    background-color: black;
    height: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-strip .pkb-btn {
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0);
    border: none;
    cursor: pointer;
}

.black-strip .pkb-btn .pkb-circle {
    width: 10vw;
    height: 10vw;
    background-image: url('../assets/img/border/center.png');
    background-size: contain;
}

.pkb-white {
    height: 50%;
    background-color: rgb(255, 255, 255);
}

.content-wrap {
    width: 50%;
    padding: 20px;
    background-color: white;
}

.titulo h1 {
    color: rgb(134, 4, 4);
    font-size: var(--font-title-size);
    width: 100%;
}

main .introducao span {
    width: 600px;
}

main .introducao {
    display: flex;
    align-items: center;
    gap: 30px;
}

.introducao img {
    width: 200px;
    height: 200px;
}

.pkmn-galeria ul {
    margin-top: 30px;
    list-style: none;
    display: flex;
    gap: 35px;
    background-color: white;
}

.pkmn-galeria ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 300ms;
}

.pkmn-galeria ul li:hover {
    transform: scale(1.07);
}

.pkmn-galeria ul li img {
    width: 200px;
    /* box-shadow:
        -5px 0 0 0 black,
        5px 0 0 0 black,
        0 -5px 0 0 black,
        0 5px 0 0 black; */
}

.pkmn-galeria ul li span {
    font-weight: 500;
}

.galeria-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text-section h1 {
    text-align: right;
}

.text-section {
    display: flex;
    justify-content: flex-end;
}

.text-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-section .text {
    display: flex;
    text-align: right;
    align-items: center;
}

.text img {
    width: 200px;
    height: 200px;
}

.ranking-wrap {
    background-color: white;
    width: 400px;
}

.ranking-wrap .titulo-ranking {
    background-color: var(--vermelho);
    padding: 10px;
    color: white;
    border-bottom: 4px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ranking-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: 300px;
    overflow: scroll;
}

.ranking-list li {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid rgb(204, 204, 204);
}

.qtd-poke-ranking {
    margin-left: auto;
}

.nome-ranking {
    width: 60%;
    overflow: hidden;
}

.titulo-ranking img {
    width: 20px;
}

.hashtag {
    font-size: 17px;
}

/* FIM CORPO */

/* FOOTER */

.following-pkmn {
    position: relative;
    image-rendering: pixelated;
    width: 100px;
    height: 75px;
    transform: scale(1, -1);
    bottom: 55px;
}

#container_pkmn {
    height: 100px;
}

footer {
    background-color: var(--vermelho);
    height: 180px;
    display: flex;
    flex-direction: column;
}

footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

/* FIM FOOTER */

/* BORDAS PIXELADAS */

.px-corner {
    clip-path: polygon(0px calc(100% - 10px),
            5px calc(100% - 10px),
            5px calc(100% - 5px),
            10px calc(100% - 5px),
            10px 100%,
            calc(100% - 10px) 100%,
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 10px),
            100% calc(100% - 10px),
            100% 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 0px,
            10px 0px,
            10px 5px,
            5px 5px,
            5px 10px,
            0px 10px);
}

.px-border,
.px-border--wrapper {
    clip-path: polygon(0px calc(100% - 10px),
            5px calc(100% - 10px),
            5px calc(100% - 5px),
            10px calc(100% - 5px),
            10px 100%,
            calc(100% - 10px) 100%,
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 10px),
            100% calc(100% - 10px),
            100% 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 0px,
            10px 0px,
            10px 5px,
            5px 5px,
            5px 10px,
            0px 10px);
    position: relative;
}

.px-border {
    border: 5px solid transparent;
}

.px-border--wrapper {
    width: fit-content;
    height: fit-content;
}

.px-border--wrapper .px-border {
    display: block;
    clip-path: polygon(5px 10px,
            10px 10px,
            10px 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) calc(100% - 10px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 10px) calc(100% - 5px),
            10px calc(100% - 5px),
            10px calc(100% - 10px),
            5px calc(100% - 10px));
}

.px-border::after,
.px-border--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 10px),
            5px calc(100% - 10px),
            5px calc(100% - 5px),
            10px calc(100% - 5px),
            10px 100%,
            calc(100% - 10px) 100%,
            calc(100% - 10px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 5px),
            calc(100% - 5px) calc(100% - 10px),
            100% calc(100% - 10px),
            100% 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 0px,
            10px 0px,
            10px 5px,
            5px 5px,
            5px 10px,
            0px 10px,
            0px 50%,
            5px 50%,
            5px 10px,
            10px 10px,
            10px 5px,
            calc(100% - 10px) 5px,
            calc(100% - 10px) 10px,
            calc(100% - 5px) 10px,
            calc(100% - 5px) calc(100% - 10px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 10px) calc(100% - 5px),
            10px calc(100% - 5px),
            10px calc(100% - 10px),
            5px calc(100% - 10px),
            5px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #241f31;
    display: block;
    pointer-events: none;
}

.px-border::after {
    margin: -5px;
}

.px-small-corner {
    clip-path: polygon(0px calc(100% - 5px),
            5px calc(100% - 5px),
            5px 100%,
            calc(100% - 5px) 100%,
            calc(100% - 5px) calc(100% - 5px),
            100% calc(100% - 5px),
            100% 5px,
            calc(100% - 5px) 5px,
            calc(100% - 5px) 0px,
            5px 0px,
            5px 5px,
            0px 5px);
}


.px-circle {
    clip-path: polygon(0px calc(100% - 20px),
            4px calc(100% - 20px),
            4px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 4px),
            20px calc(100% - 4px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 4px,
            12px 4px,
            12px 8px,
            8px 8px,
            8px 12px,
            4px 12px,
            4px 20px,
            0px 20px);
}

/* FIM BORDAS PIXELADAS */