.icon {
  width: 30px;
  height: 30px;
  image-rendering: pixelated;
  cursor: pointer;
}

.rename-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 300px;
}

.rename-wrap h2 {
  overflow: hidden;
  outline: none;
}

.rename-input {
  border: none;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  width: 80%;
  height: 40px;
}

.img-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-info-img {
  width: 300px;
}

#pokemon_info {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokemon_info .info-card {
  background-color: white;
  padding: 40px;
}

.info-wrap ul {
  list-style: none;
}

.info-date {
  color: #818181;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.type-wrap {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.info-close-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-item {
  width: 30px;
  position: relative;
  left: 84%;
  bottom: 20px;
  cursor: pointer;
}